 <% if @book.errors.any? %>
  <%= @book.errors.count %>errors
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<h1>Editing Book</h1>
  
<%= form_with model: @book do |f| %>
 <%= render 'layouts/errors', obj: @book %>
 <label for="inputTitle">Title</label></br>
  <%= f.text_field :title, autofocus: true, id:"inputTitle", placeholder:"タイトル"%><br>
  <label for="inputOpinion">Opinion</label></br>
  <%= f.text_field :body, placeholder: "編集" %>  <br>
  <%= f.submit "Update Book" %>
   <%= link_to "Show", book_path(@book) %>
      |
   <%= link_to "Back", books_path %>
<% end %>
 </div>
</div>


