<div class = "container px-5 px-sm-0">
  <div class = "row">
   <div class = "col-md-3">
   <%= render 'books/list', user: @user, book: @books%>
   </div>
   
   <div class = "col-md-8 offset-md-1">
   <h1>Books</h1>
   <table class="table table-hover table-inverse">
   <tr>
<h1>Book detail</h1>
<div>
<%= link_to user_path(@book.user_id) do %>
    <p>投稿ユーザー画像: <%= image_tag @book.user.get_profile_image(100,100) %></p>
    <p>ユーザーネーム: <%= @book.user.name %></p>
    <% end %>
    <p>Title: <%= @book.title %></p>
    <p>Opinion: <%= @book.body %></p>
    
    
    <%if @book.user == current_user %>
     <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
     <%= link_to "Edit", edit_book_path %>
    <% end %>
</div>